{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "esmodules": true
        },
        "modules": "false"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}