doctype html
head
  title Welcome to: The Fluffies
  
  include meta.pug
  
  meta(name="application-name" content="Welcome to: The Fluffies")
  
  link(rel="icon" href="./img/fluffies.ico")
  link(rel="stylesheet" href="./css/intro.css")

  script(type="text/javascript" src="./js/intro.js" defer)
body
  #brandBack.transition
    h1#title welcome to
    
  include mini-logo.pug
    p This is an interactive web project - editor, based on the transformation of vector graphics and the power of web technologies.
    p

  #phone
    svg(viewBox="0 0 310 310")
      path(fill="#ccc" d="M106 310c-9 0-25 1-32-5-3-3-6-8-6-17V21S68 0 87 0h133s22 0 22 21v268s0 21-22 21H106zm48-18c6 0 11-5 11-10a10 10 0 1 0-11 10zM116 19a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm71 0h-25c-9 0-17 5-17 10s8 10 17 10h25c9 0 17-5 17-10s-8-10-17-10zm20 39H104c-9 0-17 7-17 16v162c0 9 8 16 17 16h103c9 0 16-7 16-16V74c0-9-7-16-16-16z")
    p(style="transform: translate(-10%, -5%);   font-size: 2.5vmin") does not work 
    p(style="transform: translate(-10%, -170%); font-size: 1.75vmin") correctly for phones

  #button
    a(href="/about"):    button#about about
    a(href="/support"):  button#support support us
    a(href="/editor/pony?g=female")
      button#start start using
        svg(viewBox="0 0 28 28")
          path(fill="#222" d="M22.73 17.6l-9.35 11a3.99 3.99 0 0 1-5.64.47 4 4 0 0 1-.45-5.64L14.43 15 7.28 6.59a4 4 0 1 1 6.1-5.18l9.36 11.01a4 4 0 0 1 0 5.18z")
    
    p early version
    p(style="transform: translateY(-60%); font-size: 2.5vmin; color: #f4a") pony available

  svg#toNight(viewBox="-40 24 384 384")
    path(d="M224 448c86 1 164-48 200-126-23 10-47 15-72 14A176 176 0 0 1 271 3c-16-2-31-3-47-3a224 224 0 1 0 0 448zm0 0")
  
  svg#toLight(viewBox="0 0 512 512")
    path(d="M256 166a90 90 0 1 0 0 180 90 90 0 0 0 0-180zm0 0")
    path(d="M505 243l-84-55 20-99c2-11-7-20-18-18l-99 20-55-84c-6-9-20-9-26 0l-55 84-99-20c-11-2-20 7-18 18l20 99-84 55c-9 6-9 20 0 26l84 55-20 99c-2 11 7 20 18 18l99-20 55 84c6 9 20 9 26 0l55-84 99 20c11 2 20-7 18-18l-20-99 84-55c9-6 9-20 0-26zM256 376a120 120 0 1 1 0-240 120 120 0 0 1 0 240zm0 0")

  p#copyright © 2019 The Fluffies
  #vignette