doctype html
html(lang="en")
  head
    include ../meta.pug

    title Editor development page

    script(src="//:localhost:3000/socket.io/socket.io.js")

    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet")

  body
    noscript Your browser does not support JavaScript!

    #app