doctype html
html(lang="en")
  head
    title Vue CLI render page

    include ../meta.pug

    script(src="//:localhost:3000/socket.io/socket.io.js")

  body
    noscript Your browser does not support JavaScript!

    #app