doctype html
html(lang="en")
  head
    include ../../meta.pug

    link(rel="icon" href="../favicon.ico")
    link(rel="stylesheet" href="../css/about.css")

    include ../../cdn.pug

    script(src="https://cdn.jsdelivr.net/npm/vue-resource" defer)

  body
    noscript Your browser does not support JavaScript!

    #app

    script(type="text/javascript" src="../js/about.js" defer)