doctype html
html(lang="en")
  head
    title The Fluffies: a Pony

    include ../../meta.pug

    meta(name="application-name" content="The Fluffies: Create the Pony")

    link(rel="icon" href="../../icons/ponies.ico")
    link(rel="stylesheet" href="../../css/editor/pony.css")

    script(src="https://unpkg.com/polymorph-js/dist/polymorph.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.runtime.min.js")

  body
    #app

    script(type="text/javascript" src="../../js/editor/pony.js" defer)