doctype html
html(lang="en")
  head
    include ../../meta
    include ../../cdn

    script(src="https://cdn.jsdelivr.net/npm/vue-resource" defer)
    script(src="/socket.io/socket.io.js" defer)

  body
    noscript Your browser does not support JavaScript!

    h1.hide The Fluffies: create your pony character with this web editor

    #app