doctype html
html(lang="en")
  head
    include ../../meta

    title Editor page about creating your own pony | The Fluffies

    meta(
      name="description"
      content="Here you can create your pony on the power of web graphics"
    )

    include ../../cdn

    script(src="/socket.io/socket.io.js" defer)

  body
    noscript Your browser does not support JavaScript!

    h1.hide Creating a pony vector drawing

    #app