doctype html
html(lang="en")
  head
    title The Fluffies: Support us

    include ../../meta.pug

    meta(name="application-name" content="The Fluffies: Support us")

    link(rel="icon" href="../icons/fluffies.ico")
    link(rel="stylesheet" href="../css/support.css")

    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.runtime.min.js")

  body
    noscript Your browser does not support JavaScript!

    #app

    script(type="text/javascript" src="../js/support.js" defer)