doctype html
head
  title The Fluffies: Support us

  include meta.pug

  meta(name="application-name" content="The Fluffies: Support us")
  
  link(rel="icon" href="./img/fluffies.ico")
  link(rel="stylesheet" href="./css/support.css")

  script(type="text/javascript" src="./js/support.js" defer)
body
  h1#title support us
  #back
    a(href="/")
      button back
    
  #about
    a(href="/about")
      button about

  #text
    h2 how to draw
    p Frames use vector format (SVG), you need to take the coordinates of the shape from the file they are located at (digital sequence of text)
    p All parts of the "avatar" are divided into frames, on average they are 3, 5, 7 horizontal frames (there are no vertical ones)
    p In order for animation to work properly, it is necessary for points to be in right order, with the same quantity in frames, it is easy to observe if copied from the previous frame, afterwards providing changes for new one
    
    a(href="https://css-tricks.com/svg-shape-morphing-works/") How SVG Shape Morphing Works
      svg(viewBox="0 0 448 448")
        path(fill="#46f" d="M414 24a79 79 0 0 0-58-24H82C60 0 40 8 24 24A79 79 0 0 0 0 82v274c0 23 8 42 24 58s36 25 58 25h274c23 0 42-9 58-25s25-35 25-58V82c0-22-9-42-25-58zm-49 204c0 8-3 14-11 17l-7 2c-5 0-9-2-13-6l-41-41-152 153c-4 3-8 5-13 5s-9-2-13-5l-29-30c-4-3-5-7-5-12s1-10 5-13l152-153-41-41c-6-5-7-12-4-20 4-7 9-11 17-11h137c5 0 9 2 13 6 4 3 5 7 5 12v137z")
  
    a(href="https://codeburst.io/svg-morphing-the-easy-way-and-the-hard-way-c117a620b65f") SVG Morphing (the easy way and the hard way)
      svg(viewBox="0 0 448 448")
        path(fill="#46f" d="M414 24a79 79 0 0 0-58-24H82C60 0 40 8 24 24A79 79 0 0 0 0 82v274c0 23 8 42 24 58s36 25 58 25h274c23 0 42-9 58-25s25-35 25-58V82c0-22-9-42-25-58zm-49 204c0 8-3 14-11 17l-7 2c-5 0-9-2-13-6l-41-41-152 153c-4 3-8 5-13 5s-9-2-13-5l-29-30c-4-3-5-7-5-12s1-10 5-13l152-153-41-41c-6-5-7-12-4-20 4-7 9-11 17-11h137c5 0 9 2 13 6 4 3 5 7 5 12v137z")

  #text
    h2 how to help improve the code
    p The project code is publicly available on the #[span GitHub] site with a #[span CC BY-NC-ND v4.0], it can be improved by anyone

    a(href="https://github.com/Electrum18/The-Fluffies") The Fluffies on GitHub
      svg(viewBox="0 0 448 448")
        path(fill="#46f" d="M414 24a79 79 0 0 0-58-24H82C60 0 40 8 24 24A79 79 0 0 0 0 82v274c0 23 8 42 24 58s36 25 58 25h274c23 0 42-9 58-25s25-35 25-58V82c0-22-9-42-25-58zm-49 204c0 8-3 14-11 17l-7 2c-5 0-9-2-13-6l-41-41-152 153c-4 3-8 5-13 5s-9-2-13-5l-29-30c-4-3-5-7-5-12s1-10 5-13l152-153-41-41c-6-5-7-12-4-20 4-7 9-11 17-11h137c5 0 9 2 13 6 4 3 5 7 5 12v137z")
  
  #text
    h2 issues
    p Not all head positions look good
    p The eye view in Firefox is incorrect
    p In Edge and Internet Explorer browsers may not display properly
    p We advise you to upgrade your browser to the latest version
  
  #text(style="margin: 1.5vmin 0 10vmin")
    h2 adding to the project
    p(style="width: 90%") If you have ideas or want to add hairstyles or something else to the project, let us know and your proposal will be considered
    p(style="width: 90%") Use that email to send: #[span(style="width: 90%") thefluffiessite@gmail.com]

  svg#toNight(viewBox="-40 24 384 384")
    path(d="M224 448c86 1 164-48 200-126-23 10-47 15-72 14A176 176 0 0 1 271 3c-16-2-31-3-47-3a224 224 0 1 0 0 448zm0 0")
  
  svg#toLight(viewBox="0 0 512 512")
    path(d="M256 166a90 90 0 1 0 0 180 90 90 0 0 0 0-180zm0 0")
    path(d="M505 243l-84-55 20-99c2-11-7-20-18-18l-99 20-55-84c-6-9-20-9-26 0l-55 84-99-20c-11-2-20 7-18 18l20 99-84 55c-9 6-9 20 0 26l84 55-20 99c-2 11 7 20 18 18l99-20 55 84c6 9 20 9 26 0l55-84 99 20c11 2 20-7 18-18l-20-99 84-55c9-6 9-20 0-26zM256 376a120 120 0 1 1 0-240 120 120 0 0 1 0 240zm0 0")

  p#copyright © 2019 The Fluffies
  #vignette