.menu-bar
  svg#color(viewBox="-21 -21 683 682")
    path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
  
  #title
    p Eyes
    .mark-arrow
      #favColor
        #favColorMini

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  p.h iris
  p.sm scale #[span#number(style="float: right; margin: 0 1vmin 0 0") 100]
  
  input#eyesScale(type="range" min="50" max="125" value="100")
    
  p.h pupils
  p.sm scale

    #sliderBox
      svg(width="100%" height="100%" viewBox="0 -10 755 755" preserveAspectRatio="none")
        path(d="M301 765c-17 0-31-14-31-30V496c0-6-5-11-10-11H21c-17 0-31-14-31-30V21c0-17 14-31 31-31h714c16 0 30 14 30 31v714c0 16-14 30-30 30H301z")
        defs
          mask#mask_Pad(x="0" y="0" width="1024" height="1024")
            path(fill="#fff" d="M301 765c-17 0-31-14-31-30V496c0-6-5-11-10-11H21c-17 0-31-14-31-30V21c0-17 14-31 31-31h714c16 0 30 14 30 31v714c0 16-14 30-30 30H301z")
          
      #X2.line
      #X.line
      #Y2.line
      #Y.line
      #Parall.line
      #tapPoint(style="mask: url(#mask_Pad)")
    p.X       width #[span#number 10]
    p.sm.num height #[span#number 100]

.menu-bar
  svg#color(viewBox="-21 -21 683 682")
    path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
  
  #title
    p Mane
    .mark-arrow
      #favColor

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  p.h hair style
  p.name Float
  #menu_of_models change

.menu-bar
  svg#color(viewBox="-21 -21 683 682")
    path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
  
  #title
    p Fur
    .mark-arrow
      #favColor

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  p.h set color
  
.menu-bar
  #title
    p Emotion
    .mark-arrow

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  p.h(style="width: 16vmax") fangs
  
  #checkbox
    input#haveFangs(type="checkbox" checked)
    #checkmark

  p.sm jaw open #[span#number(style="position: absolute; margin: 0 1vmin 0 0; right: 0") 0]
  input#jawOpen(type="range" min="0" max="100" value="0")

.menu-bar
  #title
    p Ears
    .mark-arrow

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  p.h(style="width: 16vmax") tassels
  
  #checkbox
    input#haveTassels(type="checkbox" checked)
    #checkmark

.menu-bar
  #title(style="border-radius: 0 0 0 1.5vmax")
    p Piercing
    .mark-arrow

      svg#arrowDown(viewBox="-110 -150 675 675")
        path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
  
      svg#close(viewBox="-17 -18 76 76")
        path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

  #block(style="pointer-events: none; height: 1%")
    .line
    svg#close2(viewBox="-12 -12 64 64")
      path(fill="#f35" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")
    
    p.h ring right ear #1
    
    svg#color2(viewBox="-21 -21 683 682")
      path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")

    p.h set color

    p.sm position
      span#number(style="position: absolute; margin: 0 1vmin 0 0; right: 0") 10
    
    input#piercPos(type="range" min="0" max="100" value="10")
    
    p.sm scale
      span#number(style="position: absolute; margin: 0 1vmin 0 0; right: 0") 1.5

    input#piercScl(type="range" min="50" max="100" value="75")

  p.h(style="pointer-events: none; height: 1%") add
    span#toLeftEar left ear
      span(style="margin-left: 2vmax") ring
      span point

    span#toRightEar(style="margin: 28% 1vmin") right ear
      span(style="margin-left: 1.5vmax") ring
      span point