doctype html
head
  title Welcome to: The Fluffies
  
  include ../meta.pug
  
  meta(name="application-name" content="Welcome to: The Fluffies")
  
  link(rel="icon" href="../content/fluffies.ico")
  link(rel="stylesheet" href="style.css")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
body
  #background
  #brandBack.transition
    h1#title welcome to
    svg(viewBox="0 0 425 50")
      path(d="M414 54l-2-2H122V13c0-9-7-16-16-16H21C13-3 6 4 6 13v27c0 9 7 16 15 16h391l2-2z")
    p This is an interactive web project - editor, based on the transformation of vector graphics and the power of web technologies.
  
  include ../mini-logo.pug

  #phone
    i.fa.fa-mobile-phone
    p(style="transform: translate(-5%, 10%); font-size: 2.5vmin") does not work 
    p(style="transform: translate(-5%, -225%); font-size: 1.75vmin") correctly for phones

  #button
    a(href="/about"):    button#about about
    a(href="/support"):  button#support support us
    a(href="/editor/pony?g=female")
      button#start start using
        i.fa.fa-chevron-right(style="font-size: 3vmin")
    
    p early version
    p(style="padding: 8vmin 7.2vmin; transform: translateY(-60%); font-size: 2.5vmin; color: #f4a") pony available


  p#copyright © 2019 The Fluffies
  #vignette