.selected {
  @apply border-4 border-primary rounded-lg;
}

.leftBar {
  @apply absolute left-0 flex flex-col w-8 h-full md:py-2 overflow-x-hidden overflow-y-auto bg-gray-700 md:w-12 flex-nowrap;

  & > li {
    @apply md:bg-gray-800 rounded-lg flex-none m-1 py-1 md:p-2 cursor-pointer transition-transform transform-gpu hover:scale-125;

    & svg {
      @apply w-6 h-6 transition-colors;
    }
  }

  & > hr {
    @apply my-2;
  }

  & > div {
    @apply flex-grow;
  }
}

.rightBar {
  @apply absolute right-0 flex flex-col w-16 h-full overflow-x-hidden overflow-y-auto bg-gray-700 md:w-24 flex-nowrap;

  & > li {
    @apply flex-none m-2 cursor-pointer transition-transform transform-gpu hover:scale-125;
  }
}

.listPanel {
  @apply flex flex-row flex-wrap w-full overflow-x-auto bg-gray-600 rounded-lg max-h-64;

  & > div {
    @apply bg-white rounded-lg w-18 h-18 m-0.5 transition-transform transform-gpu hover:scale-110;

    & img {
      @apply rounded-lg;
    }
  }
}

.basicIcon {
  @apply w-10 h-10 p-2 text-gray-200;
}

.iconCircle {
  @apply bg-gray-800 rounded-full cursor-pointer transition-colors hover:bg-gray-500;
}
