.withLabel {
  @apply flex flex-col font-bold text-center;

  & > div {
    @apply flex flex-row flex-nowrap;
  }

  & > span {
    @apply mb-2 -mt-1 text-sm text-gray-400;
  }
}

.dropdownList {
  & select {
    @apply w-32 px-2 py-1 m-2 text-lg text-white bg-gray-800 rounded-lg appearance-none;
  }

  & div {
    @apply w-5 h-5 mt-4 text-gray-800 rounded pointer-events-none -ml-9 bg-primary;

    & svg {
      @apply m-0.5;
    }
  }
}

.squaresList {
  & > div {
    @apply w-12 h-12 mx-1 my-2 bg-gray-800 rounded-lg;

    & > div {
      @apply bg-white rounded;
    }
  }
}

.chipsList {
  & span {
    @apply w-16 h-8 py-1 mx-1 my-2 text-white bg-gray-800 rounded-lg;
  }
}

.buttonsList {
  @apply flex flex-row space-x-4;

  & button {
    @apply font-bold w-32 px-4 py-2 text-white text-center rounded-lg;
  }
}

.inputSlider {
  @apply flex flex-row flex-nowrap;

  & > div:first-child {
    @apply w-full h-1 mx-2 my-3 bg-gray-500;
  }

  & > div:last-child {
    @apply absolute w-6 h-6 rounded-md bg-primary cursor-e-resize;
  }
}
