.bottomMenu {
  @apply absolute bottom-0 flex flex-col w-full px-2 bg-gray-700 select-none transition-transform;

  & > div {
    @apply flex flex-row flex-wrap justify-around items-center;
  }
}

.rightMenu {
  @apply absolute right-0 flex flex-col w-full md:w-auto h-full bg-gray-700 select-none transition-transform;

  & > div {
    @apply flex flex-row flex-wrap justify-around items-center;
  }
}

.animatingMenu {
  & > div:first-child {
    @apply mb-2 -mt-12;
  }

  & > div:nth-child(2) {
    @apply justify-between;
  }

  & > div:last-child {
    @apply w-full h-32 my-2 rounded-lg;
  }
}

.mediaPlayer {
  & > div:nth-child(odd) {
    @apply flex flex-col p-2 font-bold text-center;

    & > span:first-child {
      @apply -mb-2 text-lg text-white;
    }

    & > span:last-child {
      @apply text-sm text-gray-400;
    }
  }

  & > div:nth-child(even) {
    @apply flex flex-row flex-nowrap;

    & > svg:nth-child(odd) {
      @apply w-8 h-8 p-1 m-2 text-gray-200 cursor-pointer transition-colors hover:text-primary;
    }

    & > div:nth-child(even) {
      @apply -my-4 w-14 h-14;

      & > svg {
        @apply p-3 w-14 h-14 text-primary;
      }
    }
  }
}
