doctype html
head
  title The Fluffies: a Pony
  
  include ../meta.pug

  meta(name="application-name" content="The Fluffies: Create the Pony")
  
  link(rel="icon" href="../../img/ponies.ico")
  link(rel="stylesheet" href="../../css/editor.css")

  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://unpkg.com/polymorph-js/dist/polymorph.min.js")
  script(src="https://cdn.jsdelivr.net/npm/animejs@3/lib/anime.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
  
  script(type="text/javascript" src="../../js/editor.js" defer)
body
  include pony-base.pug

  #vignette
  #menu-social
  #menu
    svg(width="30vmax" height="100%" viewBox="0 0 225 800" preserveAspectRatio="none")
      circle#menu-back.transition(cx="76.5%" cy="94.25%" r="0%" fill="#222" 
        style="mask: url(#mask_Menu); pointer-events: all")
      defs
        mask#mask_Menu
          path(d="M10 0c0 255 0 545 0 800h625V0h-625z" fill="#fff")

    // Avatar editor panel bars

    .menu-bar
      svg#color(viewBox="-21 -21 683 682")
        path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
      
      #title
        p Eyes
        .mark-arrow
          #favColor
            #favColorMini

          svg#arrowDown(viewBox="-110 -150 675 675")
            path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
      
          svg#close(viewBox="-17 -18 76 76")
            path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

      p.h iris
      p.sm scale #[span#number(style="float: right; margin: 0 1vmin 0 0") 100]
      
      input#eyesScale(type="range" min="50" max="125" value="100")
        
      p.h pupils
      p.sm scale

        #sliderBox
          svg(width="100%" height="100%" viewBox="0 -10 755 755" preserveAspectRatio="none")
            path(d="M301 765c-17 0-31-14-31-30V496c0-6-5-11-10-11H21c-17 0-31-14-31-30V21c0-17 14-31 31-31h714c16 0 30 14 30 31v714c0 16-14 30-30 30H301z")
            defs
              mask#mask_Pad(x="0" y="0" width="1024" height="1024")
                path(fill="#fff" d="M301 765c-17 0-31-14-31-30V496c0-6-5-11-10-11H21c-17 0-31-14-31-30V21c0-17 14-31 31-31h714c16 0 30 14 30 31v714c0 16-14 30-30 30H301z")
             
          #X.line
          #X2.line
          #Y.line
          #Y2.line
          #Parall.line
          #tapPoint(style="mask: url(#mask_Pad)")
        p.X       width #[span#number 100]
        p.sm.num height #[span#number 100]

    .menu-bar
      svg#color(viewBox="-21 -21 683 682")
        path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
      
      #title
        p Mane
        .mark-arrow
          #favColor

          svg#arrowDown(viewBox="-110 -150 675 675")
            path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
      
          svg#close(viewBox="-17 -18 76 76")
            path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

      p.h hair style
      p.name Float
      #menu_of_models change
    .menu-bar
      svg#color(viewBox="-21 -21 683 682")
        path(fill="#333" d="M640 315A318 318 0 0 0 320 0 318 318 0 0 0 0 320a318 318 0 0 0 319 320 92 92 0 0 0 91-108 107 107 0 0 1 30-92 106 106 0 0 1 92-30 92 92 0 0 0 108-95zM147 192a56 56 0 1 1 0 113 56 56 0 0 1 0-113zm0 256a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0-347a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm144 0a56 56 0 1 1 0-112 56 56 0 0 1 0 112zm101 102a56 56 0 1 1 0-113 56 56 0 0 1 0 113zm0 0")
      
      #title
        p Fur
        .mark-arrow
          #favColor

          svg#arrowDown(viewBox="-110 -150 675 675")
            path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
      
          svg#close(viewBox="-17 -18 76 76")
            path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

      p.h set color
    .menu-bar
      #title(style="border-radius: 0 0 0 1.5vmax")
        p Mouth
        .mark-arrow

          svg#arrowDown(viewBox="-110 -150 675 675")
            path(fill="#aaa" d="M434 114l-21-21c-8-7-16-11-26-11s-19 4-26 11L222 232 84 93a37 37 0 0 0-52 0l-21 21c-7 7-11 16-11 26s4 19 11 26l186 186a35 35 0 0 0 52 0l185-186a37 37 0 0 0 0-52z")
      
          svg#close(viewBox="-17 -18 76 76")
            path(fill="#aaa" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

      p.sm jaw open #[span#number(style="position: absolute; margin: 0 1vmin 0 0; right: 0") 0]
      input#jawOpen(type="range" min="0" max="100" value="0")

    #color_pallete
      p color picker

      svg#close(viewBox="0 0 42 42")
        path(fill="#f35" d="M28 21L40 9a5 5 0 1 0-7-8L21 14 9 1a5 5 0 0 0-8 8l13 12L1 33a5 5 0 1 0 8 7l12-12 12 12a5 5 0 0 0 7 0c2-2 2-5 0-7L28 21z")

      p.h mane
      #body
        svg(viewBox="-10 -10 220 220" preserveAspectRatio="xMidYMin meet")
          g#picker(fill="none" stroke-width="15" transform="translate(100,100)" style="pointer-events: all")
            path(d="M 0,-100 A 100,100 0 0,1 86.6,-50"    stroke="url(#redyel)")
            path(d="M 86.6,-50 A 100,100 0 0,1 86.6,50"   stroke="url(#yelgre)")
            path(d="M 86.6,50 A 100,100 0 0,1 0,100"      stroke="url(#grecya)")
            path(d="M 0,100 A 100,100 0 0,1 -86.6,50"     stroke="url(#cyablu)")
            path(d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#blumag)")
            path(d="M -86.6,-50 A 100,100 0 0,1 0,-100"   stroke="url(#magred)")

          defs
            linearGradient#redyel(gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1")
                stop(offset="0%" stop-color="#ff0000")
                stop(offset="100%" stop-color="#ffff00")

            linearGradient#yelgre(gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1")
                stop(offset="0%" stop-color="#ffff00")
                stop(offset="100%" stop-color="#00ff00")

            linearGradient#grecya(gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1")
                stop(offset="0%" stop-color="#00ff00")
                stop(offset="100%" stop-color="#00ffff")

            linearGradient#cyablu(gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0")
                stop(offset="0%" stop-color="#00ffff")
                stop(offset="100%" stop-color="#0000ff")

            linearGradient#blumag(gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0")
                stop(offset="0%" stop-color="#0000ff")
                stop(offset="100%" stop-color="#ff00ff")

            linearGradient#magred(gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0")
                stop(offset="0%" stop-color="#ff00ff")
                stop(offset="100%" stop-color="#ff0000")

        #box
          svg(viewBox="0 0 1 1" preserveAspectRatio="xMidYMin meet")
            rect(width="1" height="1" fill="url(#boxSatur)")
            rect(width="1" height="1" fill="url(#boxValue)")
            defs
              linearGradient#boxValue(gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0")
                stop(offset="0%" stop-color="#000")
                stop(offset="100%" stop-color="#000" stop-opacity="0")
              
              linearGradient#boxSatur(gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="0")
                stop#color(offset="0%" stop-color="#f00")
                stop(offset="100%" stop-color="#fff")

          svg(viewBox="-8 -8 16 16")#color_box
            circle(r="10" stroke="#000" stroke-width="5" stroke-opacity=0.75 fill-opacity=0
              style="stroke: rgb(0, 0, 0); transition: all 0.25s ease-in-out 0s")

        svg(viewBox="-8 -8 16 16")#color_circle
          circle(r="10" stroke="#000" stroke-width="5" stroke-opacity=0.75 fill-opacity=0)

        #color

    // Menu of Models - list

    .MM-bar(style="transform: translate(-110%, -50%) rotate(0deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
        span Float
        span @Electrum18
        
      .MM-block(style="border-radius: 5%")
        span Curly ends
        span @Electrum18

      .MM-block(style="border-radius: 5% 20% 20% 5%")
        span Spiky to side
        span @Electrum18
        svg#mirror(viewBox="0 0 512 512")
          path(fill="#333" d="M256 0c-8 0-15 7-15 15v70a15 15 0 0 0 30 0V15c0-8-7-15-15-15zM256 137c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 275c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 412c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM179 104L59 67a15 15 0 0 0-19 14v350a15 15 0 0 0 19 14l120-37c7-1 11-7 11-14V118c0-7-4-13-11-14zM466 69c-4-3-9-4-13-2l-120 37c-7 1-11 7-11 14v276c0 7 4 13 11 14l120 37a15 15 0 0 0 19-14V81c0-5-2-9-6-12z")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(8deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(16deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(24deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(32deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(40deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    .MM-bar(style="transform: translate(-110%, -50%) rotate(48deg)")
      .MM-block(style="border-radius: 20% 5% 5% 20%")
      .MM-block(style="border-radius: 5%")
      .MM-block(style="border-radius: 5% 20% 20% 5%")

    #menu-circle
      #settings
        svg#bars(viewBox="-40 -50 350 350" style="transform: translate(50%, -50%) rotate(12deg)")
          path(fill="#eee" d="M268 119.5c-.5-3.8-5-6.7-8.7-6.7a29.9 29.9 0 0 1-27.8-18.4 30 30 0 0 1 7.5-33.2c2.9-2.6 3.2-7 .8-10.1a133 133 0 0 0-21.3-21.5 7.5 7.5 0 0 0-10.2.8 31 31 0 0 1-33.5 7.5 29.8 29.8 0 0 1-18.2-29.2c.3-4-2.6-7.3-6.6-7.8C140-.3 130-.3 119.8.9a7.5 7.5 0 0 0-6.7 7.6c.5 12.5-7 24-18.4 28.7a31 31 0 0 1-33.2-7.6 7.5 7.5 0 0 0-10.2-.9c-8 6.4-15.4 13.6-21.7 21.5-2.5 3.1-2.1 7.6.8 10.3 9.3 8.4 12.4 21.9 7.5 33.5a31 31 0 0 1-29.2 18.2 7.3 7.3 0 0 0-7.8 6.5 134.6 134.6 0 0 0 0 30.6c.4 3.8 5 6.6 8.8 6.6 11.7-.3 22.9 7 27.6 18.4a29.9 29.9 0 0 1-7.5 33.3 7.5 7.5 0 0 0-.8 10c6.2 8 13.4 15.3 21.2 21.6 3.1 2.5 7.6 2.1 10.3-.8a31 31 0 0 1 33.5-7.6A29.8 29.8 0 0 1 112 260c-.2 4 2.7 7.4 6.6 7.9a133.6 133.6 0 0 0 30.3 0 7.5 7.5 0 0 0 6.6-7.6c-.4-12.5 7-24 18.4-28.7a31 31 0 0 1 33.3 7.6c2.6 2.9 7 3.2 10.1.8 8-6.3 15.4-13.5 21.8-21.5 2.5-3 2.1-7.5-.8-10.2a29.8 29.8 0 0 1 20-51.7h1.6c3.8.3 7.4-2.6 7.9-6.6 1.1-10 1.2-20.4 0-30.5zm-133.4 60a44.9 44.9 0 1 1 0-89.8 44.9 44.9 0 0 1 0 89.8z")

      #capture
        svg#bars(viewBox="-100 -50 700 700" style="transform: translate(50%, -50%) rotate(63.5deg)")
          path(fill="#eee" d="M527 131a70 70 0 0 0-52-21h-64l-14-39c-4-10-11-18-20-24-10-7-20-10-30-10H201c-10 0-20 3-30 10-9 6-16 14-19 24l-15 39H73c-20 0-37 7-52 21a70 70 0 0 0-21 52v256c0 20 7 37 21 51 15 14 32 22 52 22h402c20 0 37-8 52-22 14-14 21-31 21-51V183c0-20-7-38-21-52zM364 401c-25 25-55 38-90 38s-65-13-90-38-38-55-38-90c0-36 13-66 38-91s55-37 90-37 65 12 90 37 38 55 38 91c0 35-13 65-38 90z")
          path(fill="#eee" d="M274 228c-23 0-42 8-58 25a79 79 0 0 0-24 58c0 22 8 42 24 58s35 24 58 24 42-8 58-24 24-36 24-58c0-23-8-42-24-58a79 79 0 0 0-58-25z")

      #menu-avatar
      //-#animate:     i.fa.fa-reorder

    #menu-button
      svg(width="100%" height="100%" viewBox="0 0 128 128" preserveAspectRatio="none")
        path#button.transition(d="M128 64A64 64 0 1 1 0 64a64 64 0 0 1 128 0z" fill="#fff" filter="url(#mask_Shadow)")
        defs
          filter#mask_Shadow(x="-50%" y="-50%" width="200%" height="200%")
            feOffset(result="offOut" in="SourceAlpha" dx="0" dy="0")
            feColorMatrix(result="matrixOut" in="offOut" type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0")
            feGaussianBlur(result="blurOut" in="matrixOut" stdDeviation="10")
            feBlend(in="SourceGraphic" in2="blurOut" mode="normal")
      
      svg#bars(viewBox="-8.5 -8.5 40 40" style="transition: transform .2s ease, opacity .2s ease")
        path(fill="#333" d="M24 3c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1V3zM24 11c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1v-2zM24 19c0-.6-.4-1-1-1H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h22c.6 0 1-.4 1-1v-2z")
      
      svg#close(viewBox="-9 -9.5 40 40" style="transition: transform .2s ease, opacity .2s ease; transform: scale(0)")
        path(fill="#333" d="M14.1 11.3a.5.5 0 0 1 0-.7l7.5-7.5c.2-.2.3-.5.3-.7s-.1-.5-.3-.7L20.2.3a1 1 0 0 0-.7-.3 1 1 0 0 0-.7.3l-7.5 7.5c-.2.2-.5.2-.7 0L3.1.3C2.9.1 2.6 0 2.4 0s-.5.1-.7.3L.3 1.7c-.2.2-.3.5-.3.7s.1.5.3.7l7.5 7.5c.2.2.2.5 0 .7L.3 18.8c-.2.2-.3.5-.3.7s.1.5.3.7l1.4 1.4c.2.2.5.3.7.3s.5-.1.7-.3l7.5-7.5c.2-.2.5-.2.7 0l7.5 7.5c.2.2.5.3.7.3s.5-.1.7-.3l1.4-1.4c.2-.2.3-.5.3-.7s-.1-.5-.3-.7l-7.5-7.5z")

  include ../mini-logo.pug