.MM-bar(style="transform: translate(-110%, -50%) rotate(0deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
    span Float
    span @Electrum18
    
  .MM-block(style="border-radius: 5%")
    span Curly ends
    span @Electrum18

  .MM-block(style="border-radius: 5% 20% 20% 5%")
    span Spiky to side
    span @Electrum18
    svg#mirror(viewBox="0 0 512 512")
      path(fill="#333" d="M256 0c-8 0-15 7-15 15v70a15 15 0 0 0 30 0V15c0-8-7-15-15-15zM256 137c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 275c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 412c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM179 104L59 67a15 15 0 0 0-19 14v350a15 15 0 0 0 19 14l120-37c7-1 11-7 11-14V118c0-7-4-13-11-14zM466 69c-4-3-9-4-13-2l-120 37c-7 1-11 7-11 14v276c0 7 4 13 11 14l120 37a15 15 0 0 0 19-14V81c0-5-2-9-6-12z")

.MM-bar(style="transform: translate(-110%, -50%) rotate(8deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
    span Big Bang
    span @Electrum18
    svg#mirror(viewBox="0 0 512 512")
      path(fill="#333" d="M256 0c-8 0-15 7-15 15v70a15 15 0 0 0 30 0V15c0-8-7-15-15-15zM256 137c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 275c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM256 412c-8 0-15 7-15 15v70a15 15 0 0 0 30 0v-70c0-8-7-15-15-15zM179 104L59 67a15 15 0 0 0-19 14v350a15 15 0 0 0 19 14l120-37c7-1 11-7 11-14V118c0-7-4-13-11-14zM466 69c-4-3-9-4-13-2l-120 37c-7 1-11 7-11 14v276c0 7 4 13 11 14l120 37a15 15 0 0 0 19-14V81c0-5-2-9-6-12z")

  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")

.MM-bar(style="transform: translate(-110%, -50%) rotate(16deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")

.MM-bar(style="transform: translate(-110%, -50%) rotate(24deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")

.MM-bar(style="transform: translate(-110%, -50%) rotate(32deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")

.MM-bar(style="transform: translate(-110%, -50%) rotate(40deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")

.MM-bar(style="transform: translate(-110%, -50%) rotate(48deg)")
  .MM-block(style="border-radius: 20% 5% 5% 20%")
  .MM-block(style="border-radius: 5%")
  .MM-block(style="border-radius: 5% 20% 20% 5%")