doctype html
head
  title The Fluffies: About project
  
  include meta.pug

  meta(name="application-name" content="The Fluffies: About project")
  
  link(rel="icon" href="./img/fluffies.ico")
  link(rel="stylesheet" href="./css/about.css")
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' 
    crossorigin='anonymous')

  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

  script(type="text/javascript" src="./js/about.js" defer)
body
  h1#title about
  #back
    a(href="/")
      button back

  #support
    a(href="/support")
      button support us
  
  #text
    h2 open source web project in the development of which everyone can take part
    p Created in the summer of 2018 with the idea of ​​using vector animation right on the site and making it accessible to all by the editor
    p If you are interested in drawing, developing, go to the #[span "support"] section, at the moment there is #[span not enough time and effort to develop one]
    p The site uses #[span JS] for the project, using #[span Webpack] to compile the #[span TypeScript] code on which the animation for the site itself is written
    p #[span jQuery] and #[span Animejs] is used for the interface, #[span Polymorph] is used for animation calculations
  
  #text
    h2 in future plans
    p Change #[span jQuery] to #[span Vue] in order to use modern technologies for creating #[span Single Page Applications]
    p Add the ability to create #[span batponies], make many other races or creatures of furry - brony fendoms
    p Improve and add more animation frames
    p Add #[span male gender], add more #[span hairstyles] and fix existing ones
    p Finish the interface, add more details and more variations
  
  #text(style="margin: 1.5vmin 0 10vmin")
    h2 developers

    #author
      #avatar
        img(src="./img/avatars/ElectrumAvatar.png" alt="Electrum18 avatar")
      h2 Electrum18
      p Creator

    #author
      #avatar
        img(src="./img/avatars/UnknownAvatar.png" alt="Your avatar")
      h2 You
      p can be here
  
    #author
      #avatar
        img(src="./img/avatars/UnknownAvatar.png" alt="Your avatar")
      h2 You
      p can be here

  i#night.fas.fa-moon
  i#light.fas.fa-sun

  p#copyright © 2019 The Fluffies
  #vignette