doctype html
head
  title Welcome to: The Fluffies
  
  include meta.pug
  
  meta(name="application-name" content="Welcome to: The Fluffies")
  
  link(rel="icon" href="./img/fluffies.ico")
  link(rel="stylesheet" href="./css/intro.css")
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' 
    crossorigin='anonymous')

  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

  script(type="text/javascript" src="./js/intro.js" defer)
body
  #brandBack.transition
    h1#title welcome to
    
  include mini-logo.pug
    p This is an interactive web project - editor, based on the transformation of vector graphics and the power of web technologies.
    p

  #phone
    i.fas.fa-mobile-alt
    p(style="transform: translate(-10%, -5%); font-size: 2.5vmin") does not work 
    p(style="transform: translate(-10%, -140%); font-size: 1.75vmin") correctly for phones

  #button
    a(href="/about"):    button#about about
    a(href="/support"):  button#support support us
    a(href="/editor/pony?g=female")
      button#start start using
        i.fa.fa-chevron-right(style="font-size: 3vmin")
    
    p early version
    p(style="padding: 8vmin 7.2vmin; transform: translateY(-60%); font-size: 2.5vmin; color: #f4a") pony available

  i#night.fas.fa-moon
  i#light.fas.fa-sun
  
  p#copyright © 2019 The Fluffies
  #vignette