meta(charset="utf-8")
meta(property="og:type" content="website")
meta(property="og:title" content="The Fluffies: Create the Pony")
meta(property="og:image" content="web/img/logos/brand.png")
//- meta(property="og:url" content="")
meta(property="og:site_name" content="The Fluffies")
meta(property="og:keywords" content="The Fluffies, Vector creator, Web creator, Pony")
meta(property="og:description" content="Make your own furry-cartoon creation with that service like vector image (MLP:FIM - Ponies, in this time)")
meta(name="description" content="Make your own furry-cartoon creation with that service like vector image (MLP:FIM - Ponies, in this time)")

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0")